services:
  api:
      build: .
      container_name: familytree_app
      command: uvicorn familytree.main:app --host 0.0.0.0 --port 8000
      ports:
        - "8000:8000"
      depends_on:
        - db
      env_file:
        - .env
      environment:
        - TZ=Asia/Yekaterinburg 
      volumes:
        - .:/app
  db:
    image: postgres:18
    container_name: familytreedb
    env_file: .env
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: